{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% if app.user %}
<a href="/logout">Deconnexion</a>
{% endif %}
    <a href="/login">Connexion</a>
</div>

<a href="/register"><button class="btn btn-primary">Inscription</button></a>
<a href="{{path('accomodation_create', {type: 'Boat'}) }}"><button class="btn btn-dark">Bateau</button></a>
<a href="{{path('accomodation_create', {type: 'TreeHouse'}) }}"><button class="btn btn-dark">Cabane dans l'arbre</button></a>
<a href="{{path('accomodation_create', {type: 'House'}) }}"><button class="btn btn-dark">Maison</button></a>
<a href="{{path('accomodation_create', {type: 'Apartment'}) }}"><button class="btn btn-dark">Appartemment</button></a>

<br/>
{% for acco in accomodation %}
    {{acco.id}}
    {{acco.price}}
    {{acco.city}}
    <a href="/accomodation/edit/{{acco.id}}"><button class="btn btn-dark">Editer</button></a>
    <a href="/accomodation/remove/{{acco.id}}"><button class="btn btn-danger">Delete</button></a>
    <br/>
{% endfor %}

{% endblock %}
